---
// @ts-ignore
import { AiOutlineMail, AiFillLinkedin, AiFillGithub } from 'react-icons/ai';
---

<section id="contact" class="section">
  <h2>Contacto</h2>
  <p>¿Quieres trabajar conmigo o tienes alguna pregunta? Escríbeme:</p>

  <div class="contact-info">
    <!-- <p><AiOutlineMail /> <a href="mailto:albertoguerra.dev@gmail.com">albertoguerra.dev@gmail.com</a></p> -->
    <p><AiFillLinkedin /> <a href="https://www.linkedin.com/in/albertogmartin/" target="_blank">LinkedIn</a></p>
    <p><AiFillGithub /> <a href="https://github.com/Krig4" target="_blank">GitHub</a></p>
  </div>
</section>
  

  