---
---
<section id="hero" class="hero">
  <div class="content">
    <div class="profile-image-wrapper">
      <img src="/img/Perfil.jpeg" alt="Foto de Alberto Guerra" class="profile-image" />
    </div>
    <h1>Hola, soy <span class="highlight">Alberto Guerra</span></h1>
    <p>Desarrollador web enfocado en crear soluciones modernas, rápidas y accesibles.</p>
    <div class="buttons">
      <a href="/document/AlbertoGuerraCV.pdf" class="btn" download>Descargar CV</a>
      <a href="https://github.com/Krig4" class="btn outline" target="_blank">Ver GitHub</a>
    </div>
  </div>
</section>

  
  
  