<section id="projects" class="section">
    <h2>Proyectos</h2>
    <p>Aquí puedes ver algunos de los proyectos que he desarrollado recientemente:</p>
  
    <div class="projects-grid">
      <div class="project-card">
        <h3>Portfolio Web</h3>
        <p>Portfolio moderno hecho con Astro y desplegado en Vercel.</p>
        <a href="https://albertoguerra.vercel.app/" target="_blank">Ver proyecto</a>
      </div>
    <div class="project-card">
        <h3>A&A Burger</h3>
        <p>Web para la gestión de un restaurante, tanto carta como pedidos online y reservas</p>
        <a href="  https://aa-burger.vercel.app/" target="_blank">Ver proyecto</a>
    </div>
      <div class="project-card">
        <h3>Krig Burger</h3>
        <p>Web para eventos de hamburguesas con estética personalizada.</p>
        <a href="https://github.com/Krig4" target="_blank">Ver repositorio</a>
      </div>
    </div>
  </section>
  