---
import '@/styles/global.css';
const { title = "Alberto Guerra | Desarrollador Web" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portafolio de Alberto Guerra, desarrollador web especializado en Front-end y más.">
    <meta name="keywords" content="Desarrollador web, Portfolio, Next.js, Astro">
    <meta property="og:title" content="Alberto Guerra | Desarrollador Web">
    <meta property="og:description" content="Portafolio de desarrollo web de Alberto Guerra. Descubre mis proyectos y habilidades.">
    <meta property="og:image" content="https://albertoguerra.vercel.app/img/preview.jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Captura de pantalla del portafolio de Alberto Guerra">
    <meta property="og:url" content="https://albertoguerra.vercel.app/">
    <meta property="og:type" content="website">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
  </head>
  <body>
    <div class="background-container"></div>

    <header class="navbar">
      <div class="logo">Alberto Guerra</div>
      <button class="menu-toggle" id="menuToggle" aria-label="Abrir menú">☰</button>
      <nav id="mobileMenu">
        <a href="#hero">Inicio</a>
        <a href="#about">Sobre mí</a>
        <a href="#projects">Proyectos</a>
        <a href="#skills">Habilidades</a>
        <a href="#certificaciones">Certificaciones</a>
        <a href="#contact">Contacto</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>


    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const toggleButton = document.getElementById('menuToggle');
        const nav = document.getElementById('mobileMenu');
        
        toggleButton?.addEventListener('click', () => {
          nav?.classList.toggle('show');
        });

        // Cierra el menú al hacer clic en un enlace en móviles
        const links = nav?.querySelectorAll('a');
        links?.forEach(link => {
          link.addEventListener('click', () => {
            nav?.classList.remove('show');
          });
        });
      });
    </script>
  </body>
</html>
